body {
	background-color: #777;
	color: white;
	text-shadow: 0px 1px 1px black;
	text-align: center;
}

h1, h2 {
	font-family: "Black Ops One";
}

h1 {
	font-size: 300%;
}

footer {
	margin-top: 1em;
}

#help {
	position: fixed;
	left: 0px;
	top: 50px;
	background-color: #555;
	border-radius: 0px 20px 20px 0px;
	padding: 1em;
}

#score {
	position: fixed;
	right: 0px;
	top: 50px;
	background-color: #555;
	border-radius: 20px 0px 0px 20px;
	padding: 1em;
}

#help h2, #score h2 {
	margin-top: 0em;
}

.face {
	border: 2px solid black;
/*	background-color: blue; */
	background-color: rgba(255, 255, 255, 0.5); 
}

.pit {
	margin: 1em auto 0;
	border: 2px solid black;
}

.cube.l1 .face {
	background-color: green;
}

.cube.l2 .face {
	background-color: orange;
}

.cube.l3 .face {
	background-color: red;
}

.cube.l4 .face {
	background-color: blue;
}

.cube.l5 .face {
	background-color: yellow;
}

.cube.l6 .face {
	background-color: lime;
}

.cube.l7 .face {
	background-color: brown;
}

.cube.l8 .face {
	background-color: navy;
}

.cube.l9 .face {
	background-color: teal;
}
